# xcode noise
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
build

# xcode 4
project.xcworkspace
xcuserdata

# SVN noise
.svn

# osx noise
.DS_Store

# project specific
_Logs/
*.strings.temp
*(Autosaved).graffle
/Localization/fr/_WorkGlossary/
/Localization/de/_WorkGlossary/