<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Wind Mobile (1.0)</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>©2011 la-haut.info</string>
		</dict>
		<dict>
			<key>File</key>
			<string>http://www.la-haut.info/windmobile-ios/</string>
			<key>Title</key>
			<string>www.la-haut.info</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>map_type_preference</string>
			<key>Title</key>
			<string>Map Type</string>
			<key>Titles</key>
			<array>
				<string>Standard</string>
				<string>Satellite</string>
				<string>Hybrid</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>20</integer>
			<key>Key</key>
			<string>timeout_preference</string>
			<key>Title</key>
			<string>Timeout</string>
			<key>Titles</key>
			<array>
				<string>10 seconds</string>
				<string>20 seconds</string>
				<string>30 seconds</string>
				<string>45 seconds</string>
				<string>60 seconds</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>10</integer>
				<integer>20</integer>
				<integer>30</integer>
				<integer>45</integer>
				<integer>60</integer>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Weather stations</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>station_operational_preference</string>
			<key>Title</key>
			<string>Operational only</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
        <!-- Social preferences -->
        <dict>
			<key>Title</key>
			<string>Login</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>social_username</string>
			<key>Title</key>
			<string>Username</string>
            <key>KeyboardType</key>
			<string>EmailAddress</string>
        </dict>
        <dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>IsSecure</key>
			<true/>
			<key>Key</key>
			<string>social_password</string>
			<key>Title</key>
			<string>Password</string>
        </dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
