<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<string>0.5.3 (31)</string>
			<key>Key</key>
			<string>pref_version</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Disclaimer</string>
			<key>Title</key>
			<string>Disclaimer</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>20</integer>
			<key>Key</key>
			<string>timeout_preference</string>
			<key>Title</key>
			<string>Timeout</string>
			<key>Titles</key>
			<array>
				<string>10 seconds</string>
				<string>20 seconds</string>
				<string>30 seconds</string>
				<string>45 seconds</string>
				<string>60 seconds</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>10</integer>
				<integer>20</integer>
				<integer>30</integer>
				<integer>45</integer>
				<integer>60</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>map_type_preference</string>
			<key>Title</key>
			<string>Map Type</string>
			<key>Titles</key>
			<array>
				<string>Standard</string>
				<string>Satellite</string>
				<string>Hybrid</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>UseMockData</string>
			<key>Key</key>
			<string>mock_data_preference</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
